
/*stili per il layout fisso*/

	
html,body{margin:0; padding: 0;height: 100%}
div#container{  margin:10; 
				padding: 10px;
				background-color: #FFFFFF;
				-moz-border-radius: 6px;
				-webkit-border-radius: 6px;
				-moz-box-shadow: 0 6px 6px rgba(0,0,0,0.5);
				-webkit-box-shadow: 0 6px 6px rgba(0,0,0,0.5);
				}


body{   background-color: #808080;
		font-family: arial,sans-serif;
		font-size: 76%;
		text-align: left}


input{ 
text-align:left; 
}

/*stili specifici per il layout*/

div#content{padding: 1em;padding-top:16px;}
div#content a{text-decoration: none;}
div#content a:hover{text-decoration: underline;}

div#header{ padding: 0; 
			margin:0;}

.padding-6px {padding:6px}
.padding_6px {padding:6px}
.m6b {margin-bottom: 6px;}
.padding_16px {padding:16px}

 
.small_link {
	font-size: 72%;
	color:#585858;
}
.small_title{
	font-size: 100%;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	
}
div#small-panel{margin-right: 10px; padding:10px;}
div#small-panel-logout{margin-left: 10px; padding:10px;}

.argomento_messaggio{
	font-size:.7em;
	color:#2D2D2D;
	vertical-align: middle;
}